/* Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* Global styles */
  :root{
    --sky-blue-:#01acfd ;
    --orange:#fea301 ;
    --white:#fff ;
    --black:#111111 ;
    --dark-Turquoise: #05D4DF;
    --violet: #8700FF;
    --pea-Green: #95B226;
    --blue-gradient: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    --orange-gradient: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    --violet-gradient: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }

  /* button */
  .primary-btn{
    color:var(--white);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    border-radius: 12px;
    padding: 8px 50px;
    border: none;
    }
    .secondary-btn{
      border-radius: 47.93px;
      color: var(--white);
      font-family: Raleway;
      font-size: 1rem;
      font-weight: 500;
      line-height: 28.76px;
      text-align: left;
      text-transform: capitalize;
      border: none;
    }

    /* common style */
    .display-flex{
      display: flex;
    }

    /* main css start here */
    body{
      max-width: 1440px;
    }
    /* header part */
.header{
  padding-top: 20px;
  max-width: 100%;
  height: 102px;
}
.header-container{
  max-width: 80%;
  gap: 186px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo{
  align-items: center;
  gap: 15px;
}
.logo-text{
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}
.nav-links{
  list-style: none;
  gap: 32px;
  justify-content: flex-start;
}
.nav-link{
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.home{
  color: var(--orange);
}
.about{
  color: var(--dark-Turquoise);
}
.Facilities{
  color: var(--sky-blue-);
}
.Admission{
  color: var(--violet);
}
.header-btn{
  background-color: var(--orange);
}
.menu-icon{
  display: none;
}

.marquee{
  color: var(--violet);
  font-size: 1.5rem;
  font-weight: 700;
}
/* banner part start here */

.main{
  max-width: 80%;
  margin: 0 auto;
}
.banner{
  align-items: center;
  gap: 50px;
  justify-content: flex-start;
}
.banner-title{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
}

.bhspan1{
  color: var(--orange);
}
.bhspan2{
  color: var(--black);
}
.bhspan3{
  color: var(--dark-Turquoise);
}
.banner-description{
  color: var(--black);
  font-size: 1.1rem;
  line-height: 25px;
  text-align: left;
}
.banner-btn{
  background-color: var(--black);
}
.banner-content{
  gap: 25px;
  flex-direction: column;
}

/* curriculum part start here */
.curriculum{
  background-image: url('assets/bg.png');
  background-size: contain;
  background-repeat: repeat-y;
  padding: 60px 0;
}

.curriculum-title{
  font-size: 3rem;
  font-weight: 700;
  line-height: 57.5px;
  text-align: center;
}
.curriculum-cards{
  gap: 46px;
  padding: 80px 0;
}
.curriculum-card{
  
  padding:40px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 370px;
  height: 440px;
  
  border: 0.94px solid var(--white);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
 
}
.card1{background: var(--blue-gradient);}
.card2{background: var(--orange-gradient);}
.card3{background: var(--violet-gradient);}

.curriculum-card img{
  width: 35%;
}
.card-title{
  color: var(--black);
  font-size:1.2rem;
  font-weight: 700;
  line-height: 30.65px;
  text-align: center;
}
.card-desription{
color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
text-align: center;
}
.curriculum-card a{
  text-decoration: none;
}
.ReadMore1{color:var(--dark-Turquoise) ;}
.ReadMore2{color:var(--orange) ;}
.ReadMore3{color: var(--violet);}

.arrow{
  text-align: center;
}
.arrow i{
  color:var(--white);
  font-size:1rem;
  padding: 12px 14px;
  background-color: var(--orange);
  border-radius: 50%;
  margin: 0 2px;
}
/* stories prt start here */

.stories{
  background: url("assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.09),rgba(255, 255, 255, 0.3) 100%);
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center;
  min-width:100%;

}
.stories-title{
  color: var(--black);
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 57.5px;
  margin: 50px 0px;
  text-align: center;
}
.stories-container{
  display: flex;
  gap: 10px;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 80%;
  justify-content: space-between;
}
.stories-container img{
  border-radius: 16px 16px 0 0;

}
.small-boxs{
max-width: 48%;
height: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;
box-sizing: border-box;
  
}
.small-box{
  max-width: 245px;
  height: 300px;
   border-radius: 16px;
  background-color: var(--white);
  position: relative;

}
.large-box img{
  width: 100%;
  height: auto;
}
 .small-box img{
  width: 100%;
  height: auto;
}
.large-box{
  max-width: 46%;
  position: relative;
  border-radius: 16px;
  background-color: var(--white);
}
.storie-box-title{
  color: var(--black);
  font-size:.9rem;
  font-weight: 700;
  line-height: 28.76px;
  text-align: left;
  padding: 30px 25px 15px 25px;
}
.large-txt{
  font-size: 1.5rem;
 
}
.stories-box-des{
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 28.76px;
  text-align: left;
  padding: 15px 25px;
}
.large-box button{
  background-color: var(--dark-Turquoise);
  padding: 5px 18px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.small-box button{
  background-color: var(--pea-Green);
  padding: 2px 18px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.skyblue-btn{
  background-color: var(--violet) !important;
}


/* footer part start here */

.footer{
  max-width:100%;
  height: 520px;
  background-color: var(--dark-Turquoise);
  justify-content: space-evenly;
  align-items: center;
  color: var(--white);
}
.footer-left{
  max-width: 30%;
}
.footer-right{
  max-width: 65%;
  gap: 60px;

}
.footer-nav{
  flex-direction: column;
}
.footer-nav ul{
  flex-direction: column;
}
.footer-nav ul li a{
  color: var(--white);
  font-weight: 400;
}
.footer-name{
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 39.51px;
  text-align: left;
  padding: 0 15px;
}
.footer-description{
  padding-top: 35px;
  color: var(--white);
  font-size: 1.1rem;
  line-height: 25px;
  text-align: left;
}
.footer-nav{
  flex-direction: column;
}
.footer-title{
  padding: 40px 0;
  color: var(--white);
  font-size:1.2rem;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.footer-icon{
  background-color: var(--orange);
  padding: 10px;
  font-size: 1.1rem;
}








/* responsive layout */

/* for mobile responsive  */
@media screen and (max-width:576px) {
  .logo-text, .navbar, #header-btn, .arrow, .br{
    display: none;
    margin: 0;
    padding: 0;
  }
  .header{
    padding-top: 8px;
    height: 80px;
    border-bottom: 1px solid var(--orange);
  }
  .header-container,
  .banner-content,
  .banner-img{
    max-width: 90%;
  }
  .banner-img img{
    width: 100%;
  }
  .menu-icon{
    display: block;
  }
  .menu-icon i{
    font-size: 2rem;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-title,
  .banner-description,
  .banner-content{
    text-align: center;
  }
  .banner-description{
    font-size: .9rem;
  }
  .banner-title{
    font-size: 1.6rem;
    line-height: 40px;
  }
  .banner-btn{
    font-size: 1rem;
    margin: 10px auto;
  }
  .curriculum-cards{
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .curriculum-title{
    font-size: 1.9rem;
  }
 .small-boxs{
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
 }
 .small-box{
  max-width: 245px;
  height: 300px;
 }
.footer{
  flex-direction: column;
  max-width:100%;
  height: auto;
  padding:50px 0 ;
  justify-content: center;
  gap: 50px;
}
.footer-left, .footer-right{
  max-width: 80%;
}
  .footer-left p{
    text-align: center;
    padding: 0;
  }
  .footer-name{
    padding: 15px 0;
  }

}
.footer-right, .footer-logo{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.footer-title{
  padding: 20px 0;
  font-size: 1.5rem;
  text-align: center;
}
.footer-nav ul{
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
}

/* responsive for tablet */
@media screen and (min-width:575.9px) and (max-width:992px) {
  .header{
    max-width: 100%;
  }
  .header-container{
    justify-content: space-between;
    gap: 60px;
    width:80%;
    margin: 0 auto;
  }
  .logo-text{
    margin: 0;
    padding: 0;
    display: none;
  }
  .large-box{
    display: none;
  }

  .nav-link{
    font-size: 1rem;
  }
  .nav-links{
    gap: 20px;
  }
  .header-btn{
    font-size: .8rem;
    padding: 10px 40px;
  }
  .banner-description{
    font-size: 1rem;
  }
  .banner-title{
    font-size: 2.6rem;
    line-height: 40px;
  }
  .banner-img img{
    width:120%;
  }
  .curriculum-cards{
    flex-direction: column;
    align-items: center;
  }
  .curriculum-title{
    font-size: 2.5rem;
  }


}